*{ 
    margin: 0;
  padding: 0;
}



html, body{ height: 100%;
    width: 100%;
}

body {
	height: 100%;
    width: 100%;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    color: black;
    background-color: #fff;
    padding: 0;
    margin: 0;
}


.video {
  
width: 100%; 
height: 100%;
	margin-top: 5px;
}


 #container{
    
	 background-color: gray;
    display: flex;
	 justify-content: center;
	 flex-direction: column;
	 
    width: 100%;
    border: 5px solid black;

}
.enlace{  text-decoration: none;
    color: aliceblue;
}

.enlace:hover{
    color: darkslateblue;
}


#cabecera{
    height: 14%;
    width: 100%;

    font-family: fantasy;
    font-size: 40px;
    border: solid black 2px;
}

#cabecera > h1 {
 margin: 0; 
    text-align: center;
}


main{
    width: 100%;
    height: 100%;
}



iframe{ 
     width: 100%;
    height: 100%;
}
    
b{
    font-size: 30px;
}
    
    
    
nav {
    margin-bottom: auto;
    display: flex;
	justify-content: center;
    width : 100%;
    background-color: black;
    
}
nav ul {
margin : 0 auto;
}
nav ul li {
float : left;
}

nav ul li a {
display : block;
margin-right : 20px;
width : 140px;
font-size : 14px;
line-height : 44px;
text-align : center;
text-decoration : none;
color : #ccc;
}

nav ul li a:hover {
color : #fff;
}


ul, li {
	list-style: none;
}
    
    


.footer{
    width: 100%;
     height: 75px;
     background-color: darkgrey;
    display: flex;
   justify-content: center;
   align-items: center;
     flex-direction: column;
    }

    
.logotipo{
    height: 100px;
    width: 130px;
    border: 1px solid black;
}
.correo {
    display: flex;
    align-items: center;
    justify-content: center;
    

}


    




